.area {
    padding: 1rem 2rem 1rem;
    border: double;
    background: white;
    margin: 40px;
    text-align: center;
    font-size: 25px;
}

h1 {
    text-align: center;
    font-size: 100px;
    font-family: monospace;
}

.page_align {
    display: flex;
    justify-content: center;
}

.align {
    margin-right: 2rem;
    font-size: 40px;
}

.wood-img {
    color: blue;
    text-align: center;
    font-size: 9rem;
    background-image: url(https://i.pinimg.com/originals/24/15/f9/2415f94e8e6b147438aac305f34cb7a8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wet-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.cave-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.page-1 {
    background: green;
}

.page-2 {
    background: aqua;
}

.page-3 {
    background: grey;
}