.area {
    padding: 1rem 2rem 1rem;
    border: double;
    background: white;
    margin: 40px;
    text-align: center;
    font-size: 25px;
}

h1 {
    text-align: center;
    font-size: 100px;
    font-family: monospace;
}

.page_align {
    display: flex;
    flex-direction: column;
}

.align {
    margin-right: 0;
}